<ul>
  <li>
    <strong>Designers</strong>
    <ul>
      <li>
        Danitza Bonilla Fandiño
      </li>
      <li>
        Leonardo Solano Arguello
      </li>
    </ul>
  </li>
  <li>
    <strong>Developers</strong>
    <ul>
      <li>
        Leonardo Solano Arguello
      </li>
    </ul>
  </li>
  <li>
    <strong>Icons</strong>
    <ul>
      <li>
        <div>Designed by <a href="http://keyamoon.com/" target="_blank" title="Keyamoon">Keyamoon</a> from <a href="https://icomoon.io/"
            target="_blank" title="Icomoon">https://icomoon.io</a> is licensed by <a href="http://creativecommons.org/licenses/by/4.0/"
            target="_blank" title="Creative Commons BY 3.0" target="_blank">CC BY 4.0</a></div>
      </li>
    </ul>
  </li>
  <li>
    <strong>Images</strong>
    <ul>
      <li>
        <div>Designed by <a href="http://www.freepik.com/" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
            target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
            target="_blank" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a></div>
      </li>
      <li>
        <div>Designed by <a href="https://www.flaticon.com/packs/weather-161" target="_blank" title="iconixar">iconixar</a>
          from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0" target="_blank">CC
            BY 3.0</a></div>
      </li>
      <li>
        <div>Designed by <a href="https://www.flaticon.com/packs/education-19" target="_blank" title="Vectors Market">Vectors
            Market</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a>
          is licensed
          by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0"
            target="_blank">CC
            BY 3.0</a></div>
      </li>
    </ul>
  </li>
</ul>
