<div class="row justify-content-center">
  <div class="col-11">

    <!-- TABLE -->
    <div class="table-responsive">
      <table class="table table-striped table-hover">

        <thead>
          <tr role="row">
            <th style="width: 240px"></th>
            <th>SUBJECT<br>PRONOUNS</th>
            <th>SPANISH</th>
            <th>OBJECT<br>PRONOUNS</th>
            <th>POSSESSIVE<br>ADJECTIVES</th>
            <th>POSSESSIVE<br>PRONOUNS</th>
            <th>REFLEXIVE<br>PRONOUNS</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr>
            <th>1st person</th>
            <td>I</td>
            <td>yo</td>
            <td>me</td>
            <td>my</td>
            <td>mine</td>
            <td>myself</td>
          </tr>
          <tr>
            <th>2nd person</th>
            <td>you</td>
            <td>tu / usted</td>
            <td>you</td>
            <td>your</td>
            <td>yours</td>
            <td>yourself</td>
          </tr>
          <tr>
            <th>3rd person (male)</th>
            <td>he</td>
            <td>el</td>
            <td>him</td>
            <td>his</td>
            <td>his</td>
            <td>himself</td>
          </tr>
          <tr>
            <th>3rd person (female)</th>
            <td>she</td>
            <td>ella</td>
            <td>her</td>
            <td>her</td>
            <td>hers</td>
            <td>herself</td>
          </tr>
          <tr>
            <th>3rd thing</th>
            <td>it</td>
            <td>eso / esa</td>
            <td>it</td>
            <td>its</td>
            <td>(not used)</td>
            <td>itself</td>
          </tr>
          <tr>
            <th>1st person (plural)</th>
            <td>we</td>
            <td>nosotros</td>
            <td>us</td>
            <td>our</td>
            <td>ours</td>
            <td>ourselves</td>
          </tr>
          <tr>
            <th>2nd person (plural)</th>
            <td>you</td>
            <td>ustedes / vosotros</td>
            <td>you</td>
            <td>your</td>
            <td>yours</td>
            <td>yourselves</td>
          </tr>
          <tr>
            <th>3rd person and thing (plural)</th>
            <td>they</td>
            <td>ellos</td>
            <td>them</td>
            <td>their</td>
            <td>theirs</td>
            <td>themselves</td>
          </tr>
        </tbody>

      </table>
    </div>
    <!-- /TABLE -->

    <br>
    <br>

    <!-- SUBJECT PRONOUNS -->
    <h5 class="font-weight-bold">Subject Pronouns</h5>
    <p>When the person or thing is the subject of the sentence, subject pronouns are used.</p>
    <p class="font-weight-bold">Example:</p>

    <div class="row">
      <div class="col-sm-12 col-md-auto">
        <!-- <div class="col-auto"> -->

        <div class="table-responsive">
          <table class="table table-borderless table-sm">

            <tbody class="padding-none-top-bottom font-size2">
              <tr>
                <th class="padding-none2">I</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">I</span> live in Colombia
                </td>
                <td class="padding-none2">Yo vivo en Colombia</td>
              </tr>
              <tr>
                <th class="padding-none2">You</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">You</span> play soccer in the park
                </td>
                <td class="padding-none2">Tu juegas futbol en el parque</td>
              </tr>
              <tr>
                <th class="padding-none2">He</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">He</span> eats pizza
                </td>
                <td class="padding-none2">El come pizza</td>
              </tr>
              <tr>
                <th class="padding-none2">She</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">She</span> is tall
                </td>
                <td class="padding-none2">Ella es alta</td>
              </tr>
              <tr>
                <th class="padding-none2">It</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">It</span> is my dog
                </td>
                <td class="padding-none2">Este es mi perro</td>
              </tr>
              <tr>
                <th class="padding-none2">We</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">We</span> go to the school
                </td>
                <td class="padding-none2">Nosotros vamos a la escuela</td>
              </tr>
              <tr>
                <th class="padding-none2">You</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">You</span> run in the park
                </td>
                <td class="padding-none2">Ustedes corren en el parque</td>
              </tr>
              <tr>
                <th class="padding-none2">They</th>
                <td class="padding-none2">
                  <span style="text-decoration: underline">They</span> are in Paris
                </td>
                <td class="padding-none2">Ellos están en Paris</td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div>
  <!-- /SUBJECT PRONOUNS -->

  <br>
  <br>

  <!-- OBJECT PRONOUNS -->
  <h5 class="font-weight-bold">Object Pronouns</h5>
  <p>Object pronouns are used when the person or thing is the object of the sentence.</p>
  <p class="font-weight-bold">Example:</p>

  <div class="row">
    <div class="col-auto font-weight-bold">
      Me
      <br>
      You
      <br>
      Him
      <br>
      Her
      <br>
      It
      <br>
      Us
      <br>
      You
      <br>
      Them
    </div>
    <div class="col-auto">
      <span style="text-decoration: underline">I</span> live in Colombia
      <br>
      <span style="text-decoration: underline">You</span> play soccer in the park
      <br>
      <span style="text-decoration: underline">He</span> eats pizza
      <br>
      <span style="text-decoration: underline">She</span> is tall
      <br>
      <span style="text-decoration: underline">It</span> is my dog
      <br>
      <span style="text-decoration: underline">We</span> go to the school
      <br>
      <span style="text-decoration: underline">You</span> run in the park
      <br>
      <span style="text-decoration: underline">They</span> are in Paris
    </div>
    <div class="col-auto">
      Yo vivo en Colombia
      <br>
      Tu juegas futbol en el parque
      <br>
      El come pizza
      <br>
      Ella es alta
      <br>
      Este es mi perro
      <br>
      Nosotros vamos a la escuela
      <br>
      Ustedes corren en el parque
      <br>
      Ellos están en Paris
    </div>
  </div>
  <!-- /OBJECT PRONOUNS -->

  <br>
  <br>

  <!-- POSSESSIVE PRONOUNS -->
  <h5 class="font-weight-bold">Possessive Pronouns</h5>
  <p>Possessive pronouns are used to indicate possession or ownership.</p>
  <p class="font-weight-bold">Example:</p>

  <div class="row">
    <div class="col-auto font-weight-bold">
      Mine
      <br>
      Yours
      <br>
      His
      <br>
      Hers
      <br>
      Ours
      <br>
      Yours
      <br>
      Theirs
    </div>
    <div class="col-auto">
      <span style="text-decoration: underline">I</span> live in Colombia
      <br>
      <span style="text-decoration: underline">You</span> play soccer in the park
      <br>
      <span style="text-decoration: underline">He</span> eats pizza
      <br>
      <span style="text-decoration: underline">She</span> is tall
      <br>
      <span style="text-decoration: underline">We</span> go to the school
      <br>
      <span style="text-decoration: underline">You</span> run in the park
      <br>
      <span style="text-decoration: underline">They</span> are in Paris
    </div>
    <div class="col-auto">
      Yo vivo en Colombia
      <br>
      Tu juegas futbol en el parque
      <br>
      El come pizza
      <br>
      Ella es alta
      <br>
      Nosotros vamos a la escuela
      <br>
      Ustedes corren en el parque
      <br>
      Ellos están en Paris
    </div>
  </div>
  <!-- /POSSESSIVE PRONOUNS -->

  <br>
  <br>

  <!-- REFLEXIVE PRONOUNS -->
  <h5 class="font-weight-bold">Reflexive Pronouns</h5>
  <p>Reflexive pronouns are used when a person or thing acts on itself.</p>
  <p class="font-weight-bold">Example:</p>

  <div class="row">
    <div class="col-auto font-weight-bold">
      Myself
      <br>
      Yourself
      <br>
      Himself
      <br>
      Herself
      <br>
      Itself
      <br>
      Ourselves
      <br>
      Yourselves
      <br>
      Themselves
    </div>
    <div class="col-auto">
      <span style="text-decoration: underline">I</span> live in Colombia
      <br>
      <span style="text-decoration: underline">You</span> play soccer in the park
      <br>
      <span style="text-decoration: underline">He</span> eats pizza
      <br>
      <span style="text-decoration: underline">She</span> is tall
      <br>
      <span style="text-decoration: underline">It</span> is my dog
      <br>
      <span style="text-decoration: underline">We</span> go to the school
      <br>
      <span style="text-decoration: underline">You</span> run in the park
      <br>
      <span style="text-decoration: underline">They</span> are in Paris
    </div>
    <div class="col-auto">
      Yo vivo en Colombia
      <br>
      Tu juegas futbol en el parque
      <br>
      El come pizza
      <br>
      Ella es alta
      <br>
      Este es mi perro
      <br>
      Nosotros vamos a la escuela
      <br>
      Ustedes corren en el parque
      <br>
      Ellos están en Paris
    </div>
  </div>
  <!-- /REFLEXIVE PRONOUNS -->

</div>
